[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc_version = "0.8.26"
evm_version = "paris"
optimizer = true
optimizer_runs = 200

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true

[rpc_endpoints]
rayls = "https://devnet-rpc.rayls.com"
holesky = "https://holesky.drpc.org"
